<ul id="side-nav" class="main-menu navbar-collapse collapse">
    <li class=""><a href="{{ config.adminPath }}"><i class="icon-gauge"></i><span class="title">Dashboard</span></a></li>
    {% if access.a %}
        <li class="has-sub {% if route[1] == 'resourses' or 'add' or 'edit' %}active{% endif %}"><a href="collapsed-sidebar.html"><i class="icon-flow-tree"></i><span class="title">Ресурсы</span></a>
            <ul class="nav collapse">
                <li class="{% if route[2] == 'category' %}active{% endif %}"><a href="{{ config.adminPath }}/resourses/category/"><span class="title">Категории</span></a></li>
                <li class="{% if route[2] == 'service' %}active{% endif %}""><a href="{{ config.adminPath }}/resourses/service/"><span class="title">Услуги</span></a></li>
                <li class="{% if route[2] == 'subservice' %}active{% endif %}""><a href="{{ config.adminPath }}/resourses/subservice/"><span class="title">Виды работ</span></a></li>
                <li class="{% if route[2] == 'material' %}active{% endif %}""><a href="{{ config.adminPath }}/resourses/material/"><span class="title">Материалы</span></a></li>
            </ul>
        </li>
        <li class="has-sub {% if route[1] == 'user' %}active{% endif %}"><a href=""><i class="icon-user"></i><span class="title">Пользователи</span></a>
            <ul class="nav collapse">
                <li><a href="{{ config.adminPath }}/user/"><span class="title">Все пользователи</span></a></li>
                <li><a href="{{ config.adminPath }}/group/"><span class="title">Группы</span></a></li>
            </ul>
        </li>
       <li>
            <a href="">
                <i class="fa fa-users"></i>
                <span class="title">Клиенты</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-cog"></i>
                <span class="title">Настройки</span>
            </a>
        </li>
    {% endif %}
</ul>