{% extends 'layout/layout.html' %}

{% block pageName %}add-order-page{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
    <link href="{{ config.assetsPath }}/css/vendor/cropper.min.css" rel="stylesheet">
    {# <link href="{{ config.assetsPath }}theme/css/plugins/dropzone/dropzone.css" rel="stylesheet"> #}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 order__main-block js-main-block">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Создать заказ</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ config.formhandlerPath }}add/order.php" class="order-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <label for="meters" class="control-label">Размер помещения</label>
                                <div class="input-group">
                                    <input type="number" min="1" value="1" class="form-control " id="meters" name="meters" placeholder="Укажите размер помещения" required>
                                    <span class="input-group-addon">м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <label for="object_type">Тип помещения</label>
                                <select name="object_type" id="object_type" class="select2-placeholer form-control" data-placeholder="Выберите тип помещения">
                                        <option value="">Выберите тип помещения</option>
                                        <option value="Квартира">Квартира</option>
                                        <option value="Офис">Офис</option>
                                        <option value="Загородный дом">Загородный дом</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% include 'blocks/order/add-service/main.html' %}
                    <div class="checkbox checkbox-replace checkbox-primary">
                        <input type="checkbox" id="without_materials" name="without_materials">
                        <label for="without_materials">Свои материалы</label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="client">Клиент</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <select name="client" id="client" class="select2-placeholer form-control js-client-select"  data-placeholder="Выберите клиента">
                                    <option value="">Выберите клиента</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.first_name }} {{ client.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-1" style="position: absolute; right: 0">
                                <a href="" class="btn btn-default" type="button"  data-toggle="modal" data-target="#modal-2"><i class="fa fa-user-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adress" class="control-label">Адрес</label>
                        <input type="text" class="form-control " id="adress" name="adress" placeholder="Введите адресс">
                    </div>
                    {# <div class="form-group">
                        <label for="service">Услуги</label>
                        <select name="service[]" class="select2 form-control" data-placeholder="Выберите услуги" multiple="">
                            {% for service in all_services %}
                                <option value="{{ service.id }}">{{ service.name }}</option>
                            {% endfor %}
                        </select>
                    </div> #}
                    <div class="form-group">
                        <label for="manager">Менеджер</label>
                        <select name="manager" id="manager" class="select2-placeholer form-control" data-placeholder="Выберите менеджера">
                            <option value="">Выберите менеджера</option>
                            {% for manager in managers %}
                                <option value="{{ manager.id }}">{{ manager.first_name }}  {{ manager.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" >Создать</button>
                    <button class="btn btn-primary js-preview-btn"><i class="icon-eye"></i> Просмотр</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 order__preview js-preview-block">{# include 'blocks/preview/main.html' #}</div>
</div>
<div id="modal-2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="js-client-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Добавить клиента</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="first_name" class="control-label">Имя</label>
                        <input type="text" class="form-control " id="first_name" name="first_name" placeholder="Введите имя" required>
                    </div>
                    <div class="form-group">
                        <label for="second_name" class="control-label">Отчество</label>
                        <input type="text" class="form-control " id="second_name" name="second_name" placeholder="Введите отчество" >
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="control-label">Фамилия</label>
                        <input type="text" class="form-control " id="last_name" name="last_name" placeholder="Введите фамилию" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">Телефон</label>
                        <input type="phone" data-mask="+7 (999) 999-9999" id="phone" name="phone" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control " id="email" name="email" placeholder="Введите email" required>
                        <div class="error order__error">Такой e-mail уже существует</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary js-clien-submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<pre> {{ dump() }}</pre>
{% endblock %}

{% block pageScripts %}
    <script src="{{ config.assetsPath }}theme/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="{{ config.assetsPath }}js/build/add/order/main.js"></script>
{% endblock %}