{% extends 'layout/layout.html' %}

{% block pageName %}add-subservice{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Создать вид работ</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ config.formhandlerPath }}add/subservice.php">
                    <div class="form-group {% if route.params.error %}has-error{% endif %} {% if route.params.name %}has-warning{% endif %}">
                        <label for="name" class="control-label">Название</label>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Введите название вида работ" {% if route.params.name %}value="{{ route.params.name  }} {% endif %}" required>
                        <div class="error">Такое название уже существует</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="price" class="control-label">Цена</label>
                                <div class="input-group">
                                    <input type="text" class="form-control " id="price" name="price" placeholder="Введите цену" required>
                                    <span class="input-group-addon">руб.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="time" class="control-label">Время</label>
                                <div class="input-group">
                                    <input type="text" class="form-control " id="time" name="time" placeholder="Введите время" required>
                                    <span class="input-group-addon">мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Выберите услугу</label>
                        <select name="services[]" class="select2 form-control" data-placeholder="Выберите услугу" multiple>
                            {% for item in all_services %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        {#<label for="name" class="control-label">Выберите материалы</label>
                        <select name="materials[]" class="select2 form-control" data-placeholder="Выберите материалы" multiple>
                            {% for item in all_materials %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>#}
                        <div class="custom-select">
                            <label for="name" class="control-label">Выберите материалы</label>
                            <div class="custom-select__hidden">
                                <select name="materials[]" class="select2 form-control" multiple>
                                    {% for item in all_materials %}
                                        <option  value="{{ item.id }}_1" data-id="{{ item.id }}" class="js-option">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="custom-select__body">
                                <div class="custom-select__input js-open-btn">
                                    {% for item in all_materials %}
                                        <span data-id="{{ item.id }}" class="custom-select__added-item js-added-item hidden">{{ item.name }}<span>({{ item.count }})</span></span>
                                    {% endfor %}
                                    <span class="custom-select__input__btn"></span>
                                </div>
                                <div class="custom-select__dropdown js-dropdown">
                                    <!-- <input type="text" name="" class="custom-select__input-search js-input"> -->
                                    {% for item in all_materials %}
                                        <div class="custom-select__dropdown__item js-dropdown-item" data-id="{{ item.id }}" data-count="">
                                            <div class="custom-select__col_left">
                                                <div class="custom-select__col_left__inner">{{ item.name }}</div>
                                            </div>
                                            <div class="custom-select__col_right">
                                                <span class="custom-select__control custom-select__control_up js-control-up">&#9650;</span>
                                                <input type="text" name="hidden" value="1" class="custom-select__input-number js-num-input">
                                                <span class="custom-select__control custom-select__control_down js-control-down">&#9660;</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="publish">Опубликовать</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
    <script src="{{ config.assetsPath }}js/build/edit/subservice/main.js"></script>
{% endblock %}