{% extends 'layout/layout.html' %}

{% block content %}

    <div class="category js-pinterest-container">
        {% for item in category %}
            <div class="category__item js-pinterest-item">
                <div class="category__item__inner">
                    <div class="category__item__title">
                        <a href="/admin/category/{{ item.id }}">{{ item.name }}</a></div>
                    <div class="category__services">
                        {% if item.service | length > 0 %}
                            {% for item in item.service %}
                                <div class="category__services__item"><a href="/admin/service/{{ item[0].id }}">{{ item[0].name }}</a></div>
                            {% endfor %}
                        {% else %}
                            <div class="fake"></div>
                            <div class="category__nothing">
                                Пока нет ни одно услуги
                            </div>
                        {% endif %}
                    </div>
                    <div class="category__footer">
                        <a href="{{ config.addServiceLink }}?catagory_name={{ item.name }}&category_id={{ item.id }}">Добавить</a>
                    </div>
                    <div class="category__item__menu">
                        <a href="{{ config.adminPath }}/categories/edit/?id={{ item.id }}" class="category__item__menu__button category__item__menu__button_edit"></a>
                        <a href="{{ config.adminPath }}/delete?type=category&id={{ item.id }}" class="category__item__menu__button category__item__menu__button_delete"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">

    </script>
    {# <pre>{{ dump(category) }}</pre> #}
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="{{ config.assetsPath }}js/build/{{ route[1] }}/main.js"></script>
{% endblock %}