{% extends 'layout/layout.html' %}

{% block content %}
    {# <pre>{{ dump(service) }}</pre> #}
    <div class="res-tree">
        <div class="res-tree__row">
            <div class="res-tree__col">
                <div class="res-tree__col__inner">
                    <div class="res-tree__col__title">Услуга</div>
                </div>
            </div>
            <div class="res-tree__col">
                <div class="res-tree__col__inner">
                    <div class="res-tree__col__title">Виды работ</div>
                </div>
            </div>
            <div class="res-tree__col">
                <div class="res-tree__col__inner">
                    <div class="res-tree__col__title">Материалы</div>
                </div>
            </div>
        </div>
        {% if service.subservices %}
            {% for subservice in service.subservices %}
                <div class="res-tree__row">
                    <div class="res-tree__col">
                        <div class="res-tree__col__inner">
                            {% if loop.index == 1 %}
                                <div class="res-tree__col__body">
                                    {{ service.name | capitalize }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="res-tree__col">
                        <div class="res-tree__col__inner">
                            <div class="res-tree__col__body res-tree__col__body_row">
                                <div class="res-tree__col__row">
                                    <a href="{{ config.adminPath }}/subservice/{{subservice.main.id}}">{{ subservice.main.name | capitalize }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="res-tree__col">
                        <div class="res-tree__col__inner">
                            <div class="res-tree__col__body res-tree__col__body_before">
                                {% if subservice.materials | length > 0 %}
                                    {% for material in subservice.materials %}
                                        <div class="res-tree__col__row">
                                            <a href="{{ config.adminPath }}/material/{{material.id}}">{{ material.name | capitalize }}</a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                        <div class="res-tree__col__row center-align">
                                            <a href="{{ config.addMaterialLink }}" class="res-tree__link">Добавить</a>
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="res-tree__row">
                <div class="res-tree__col">
                    <div class="res-tree__col__inner">
                        {% if loop.index == 1 %}
                            <div class="res-tree__col__body">
                                {{ service.name | capitalize }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="res-tree__col">
                    <div class="res-tree__col__inner">
                        <div class="res-tree__col__body res-tree__col__body_row">
                            <div class="res-tree__col__row center-align">
                                <a href="{{ config.addSubserviceLink }}?category_name={{service.name}}&category_id={{ service.id }}" class="res-tree__link">Создать</a>
                                <a href="" class="res-tree__link popup_service_open">Добавить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="res-tree__col">
                    <div class="res-tree__col__inner">

                    </div>
                </div>
            </div>
        {% else %}
            <div class="res-tree__row">
                <div class="res-tree__col">
                    <div class="res-tree__col__inner">
                        <div class="res-tree__col__body">
                            {{ service.name }}
                        </div>
                    </div>
                </div>
                <div class="res-tree__col">
                    <div class="res-tree__col__inner center-align">
                        <div class="res-tree__col__body">
                            <div class="res-tree__col__row">
                                <a href="{{ config.addSubserviceLink }}?service_name={{service.name}}&service_id={{ service.id }}" class="res-tree__link">Добавить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="res-tree__col">
                    <div class="res-tree__col__inner center-align">
                        <div class="res-tree__col__body">
                            <div class="res-tree__col__row">
                                <a href="{{ config.addSubserviceLink }}" class="res-tree__link">Добавить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}



    </div>
    {% include 'blocks/popup/service-popup.html' %}
    {# <pre>{{ dump(service) }}</pre> #}

{% endblock %}