<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ config.adminPath }}/assets/css/vendor/jquery.custom-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="{{ config.adminPath }}/assets/css/build/__main.css">
</head>
<body>
    <div class="header">
        <div class="l-wrapper">
            <a href="/" class="header__logo"></a>
            <a href="{{ config.adminPath }}">Admin Panel</a>
        </div>
    </div>
    <div class="menu">
        <div class="l-wrapper">
            <div class="menu__block">
                <div class="menu__block__title"><span class="menu__block__icon menu__block__icon_menu"></span></div>
                <div class="menu__block__dropdown">
                    <a href="{{ config.adminPath }}/categories/" class="menu__link">Категории</a>
                    <a href="{{ config.adminPath }}/services/" class="menu__link">Услуги</a>
                    <a href="{{ config.adminPath }}/subservices/" class="menu__link">Виды работ</a>
                </div>
            </div>
            <div class="menu__block">
                <div class="menu__block__title"><span class="menu__block__icon menu__block__icon_plus"></span></div>
                <div class="menu__block__dropdown">
                    <a href="{{ config.addCatgoryLink }}" class="menu__link">Категория</a>
                    <a href="{{ config.addServiceLink }}" class="menu__link">Услуга</a>
                    <a href="{{ config.addSubserviceLink }}" class="menu__link">Вид работ</a>
                </div>
            </div>
            <div class="menu__search">
                <form method="get" action="{{ config.adminPath }}/search">
                    <div class="menu__search__block">
                        <div class="menu__search__icon js-search-btn"></div>
                        <input type="text" name="query" class="menu__search__input js-search-input {% if route[1] == 'search' and route.params.query %} open {% endif %}" value="{% if route[1] == 'search' and route.params.query %}{{route.params.query}}{% endif %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tree">
        <ul class="tree__categories-ul">
            {% for cat in data.categories %}
                <li><a href="{{ config.adminPath }}/category/{{ cat.id }}">{{ cat.name }}</a>
                    <ul class="tree__service-ul">
                        {% for serv in cat.service %}
                            <li><a href="{{ config.adminPath }}/service/{{ serv.id }}">{{ serv.name }}</a>
                                <ul class="tree__subservice-ul">
                                    {% for sub in serv.subservice %}
                                        <li><a href="{{ config.adminPath }}/subservice/{{ sub.id }}">{{ sub.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="l-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        {% include 'blocks/footer/main.html' %}
    </footer>
    <div class="scripts">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ config.adminPath }}/assets/js/vendor/blocksit.min.js"></script>
        <script type="text/javascript" src="{{ config.adminPath }}/assets/js/vendor/jquery.popupoverlay.js"></script>
        <script type="text/javascript" src="{{ config.adminPath }}/assets/js/vendor/jquery.custom-scrollbar.min.js"></script>
        <script type="text/javascript" src="{{ config.assetsPath }}js/widgets/functions.js"></script>
        <script type="text/javascript" src="{{ config.assetsPath }}js/widgets/main.js"></script>

        {% block pageScripts %}
            <script type="text/javascript" src="{{ config.assetsPath }}js/build/{{ route[1] }}/main.js"></script>
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.js-pinterest-container').BlocksIt({
                    numOfCol: 3,
                    blockElement: '.js-pinterest-item'
                });
            })
        </script>
    </div>
</body>
</html>