{% extends 'layout/layout.html' %}

{% block pageName %}edit-material{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Редактирование материала</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ config.formhandlerPath }}edit/material.php">
                    <input type="hidden" name="id" value="{{ one_material[0].id }}">
                    <div class="form-group {% if route.params.error %}has-error{% endif %} {% if route.params.name %}has-warning{% endif %}">
                        <label for="name" class="control-label">Название</label>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Введите название материала" value="{{ one_material[0].name  }}">
                        <div class="error">Такое название уже существует</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="price" class="control-label">Цена</label>
                                <div class="input-group">
                                    <input type="number" class="form-control " id="price" name="price" placeholder="Введите цену" value="{{ one_material[0].price  }}" required>
                                    <span class="input-group-addon">руб.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="unit" class="control-label">Единицы измерения</label>
                                <input type="text" class="form-control " id="unit" name="unit" placeholder="Укажите единицу измерения материала" value="{{ one_material[0].unit  }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group {% if route.params.error %}has-error{% endif %}">
                        <div class="edit-material">
                            <label for="unit" class="control-label">Изображение</label>
                            {% if one_material[0].image != '' %}
                                <img src="{{ one_material[0].image  }}" class="edit-material__image">
                            {% else %}
                                <div class="edit-material__no-image"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" {% if one_material[0].publish == 1 %}checked{% endif %} name="publish">Опубликовано</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <pre style="height: 297px; overflow: scroll;">{{ dump(one_material) }}</pre>
</div>
{% endblock %}

{% block pageScripts %}
    <!-- Select2-->
    <script src="{{ config.assetsPath }}theme/js/plugins/select2/select2.full.min.js"></script>
    <script src="{{ config.assetsPath }}js/build/add/category/main.js"></script>
{% endblock %}