{% extends 'layout/layout.html' %}

{% block pageName %}edit-service{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Редактирование услуги</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ config.formhandlerPath }}edit/service.php">
                    <input type="hidden" name="id" value="{{ one_service.main.id }}">
                    <div class="form-group {% if route.params.error %}has-error{% endif %} {% if route.params.name %}has-warning{% endif %}">
                        <label for="name" class="control-label">Название</label>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Введите название категории" value="{{ one_service.main.name  }}">
                        <div class="error">Такое название уже существует</div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Выберите вид работ</label>
                        <select name="subservices[]" class="select2 form-control" multiple>
                            <option disabled value="">Select states</option>
                            {% for item in diff_subserv.already %}
                                <option selected value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}

                            {% for item in diff_subserv.all %}
                                <option  value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label">Цена</label>
                        <div class="input-group">
                            <input type="number" class="form-control " id="price" name="price" placeholder="Введите цену" value="{{ one_service.main.price }}">
                            <span class="input-group-addon">руб.</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" {% if one_service.main.publish == 1 %}checked{% endif %} name="publish">Опубликовано</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <pre style="height: 297px; overflow: scroll;">{{ dump(one_service) }}</pre>
</div>
{% endblock %}

{% block pageScripts %}
    <!-- Select2-->
    <script src="{{ config.assetsPath }}theme/js/plugins/select2/select2.full.min.js"></script>
    <script src="{{ config.assetsPath }}js/build/add/category/main.js"></script>
{% endblock %}