{% extends 'layout/layout.html' %}

{% block pageName %}edit-subservice{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Редактирование вида работ</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ config.formhandlerPath }}edit/subservice.php">
                    <input type="hidden" name="id" value="{{ one_subservice.main.id }}">
                    <div class="form-group {% if route.params.error %}has-error{% endif %} {% if route.params.name %}has-warning{% endif %}">
                        <label for="name" class="control-label">Название</label>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Введите название вида работ" value="{{ one_subservice.main.name  }}">
                        <div class="error">Такое название уже существует</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="price_for_unit" class="control-label">Цена</label>
                                <div class="input-group">
                                    <input type="text" class="form-control " id="price_for_unit" name="price_for_unit" placeholder="Введите цену" value="{{ one_subservice.main.price_for_unit }}">
                                    <span class="input-group-addon">руб.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group {% if route.params.error %}has-error{% endif %}">
                                <label for="minute_for_unit" class="control-label">Время</label>
                                <div class="input-group">
                                    <input type="text" class="form-control " id="minute_for_unit" name="minute_for_unit" placeholder="Введите время" value="{{ one_subservice.main.minute_for_unit }}">
                                    <span class="input-group-addon">мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="name" class="control-label">Выберите материалы</label>
                        <select name="materials[]" class="select2 form-control" multiple>
                            <option disabled value="">Select states</option>
                            {% for item in diff.already %}
                                <option selected value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}

                            {% for item in diff.all %}
                                <option  value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select> -->

                        <div class="custom-select">
                            <label for="name" class="control-label">Выберите материалы</label>
                            <div class="custom-select__hidden">
                                <select name="materials[]" class="select2 form-control" multiple>
                                    {% for item in diff.already %}
                                        <option selected value="{{ item.id }}_{{ item.count }}" data-id="{{ item.id }}" class="js-option">{{ item.name }}</option>
                                    {% endfor %}

                                    {% for item in diff.all %}
                                        <option  value="{{ item.id }}_1" data-id="{{ item.id }}" class="js-option">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="custom-select__body">
                                <div class="custom-select__input js-open-btn">
                                    {% for item in diff.already %}
                                        <span data-id="{{ item.id }}" class="custom-select__added-item js-added-item">{{ item.name }}<span>({{ item.count }})</span></span>
                                    {% endfor %}
                                    {% for item in diff.all %}
                                        <span data-id="{{ item.id }}" class="custom-select__added-item js-added-item hidden">{{ item.name }}<span>({{ item.count }})</span></span>
                                    {% endfor %}
                                    <span class="custom-select__input__btn"></span>
                                </div>
                                <div class="custom-select__dropdown js-dropdown">
                                    <!-- <input type="text" name="" class="custom-select__input-search js-input"> -->
                                    {% for item in diff.already %}
                                        <div class="custom-select__dropdown__item selected js-dropdown-item" data-id="{{ item.id }}" data-count="{{ item.count }}">
                                            <div class="custom-select__col_left">
                                                <div class="custom-select__col_left__inner">{{ item.name }}</div>
                                            </div>
                                            <div class="custom-select__col_right">
                                                <span class="custom-select__control custom-select__control_up js-control-up">&#9650;</span>
                                                <input type="text" name="hidden" value="{{ item.count }}" class="custom-select__input-number js-num-input">
                                                <span class="custom-select__control custom-select__control_down js-control-down">&#9660;</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% for item in diff.all %}
                                        <div class="custom-select__dropdown__item js-dropdown-item" data-id="{{ item.id }}" data-count="">
                                            <div class="custom-select__col_left">
                                                <div class="custom-select__col_left__inner">{{ item.name }}</div>
                                            </div>
                                            <div class="custom-select__col_right">
                                                <span class="custom-select__control custom-select__control_up js-control-up">&#9650;</span>
                                                <input type="text" name="hidden" value="1" class="custom-select__input-number js-num-input">
                                                <span class="custom-select__control custom-select__control_down js-control-down">&#9660;</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" {% if one_subservice.main.publish == 1 %}checked{% endif %} name="publish">Опубликовано</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <pre >{{ dump(diff) }}</pre>
</div>
{% endblock %}

{% block pageScripts %}
    <!-- Select2-->
    <script src="{{ config.assetsPath }}theme/js/plugins/select2/select2.full.min.js"></script>
    <script src="{{ config.assetsPath }}js/build/add/category/main.js"></script>
{% endblock %}