{% extends 'layout/layout.html' %}

{% block pageName %}login-page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title">Panel Default</div>
                    <ul class="panel-tool-options">
                        <a href="add" class="btn btn-default" type="button">Default</a>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <p>Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do.</p>
                    <p>Sing long her way size. Waited end mutual missed myself the little sister one. So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect. Hence we doors is given rapid scale above am</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}