{% extends 'layout/layout.html' %}

{% block pageName %}one-category-page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inherit panel-minimal">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title">Категория "{{ one_category.main.name }}"</h2>
                    <ul class="panel-tool-options">
                        <a href="{{ config.adminPath}}/add/category" class="btn btn-default" type="button">Редактировать</a>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    {% for item in one_category.services %}
                        <div class="col-md-3">
                           <div class="panel panel-primary">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title"><a href="{{ links.service }}{{ item.id }}">{{ item.name | capitalize }}</a></h3>
                                    <ul class="panel-tool-options">
                                        <li><a href="#"><i class=" icon-pencil"></i></a></li>
                                        <li><a href="#"><i class=" icon-trash"></i></a></li>
                                    </ul>
                                </div>
                                <!-- panel body -->
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {# <pre>{{ dump(all_categories) }}</pre> #}
                </div>
            </div>
        </div>
       <pre>{{ dump(one_category) }}</pre>
    </div>
{% endblock %}

{% block pageScripts %}

{% endblock %}