{% extends 'layout/layout.html' %}

{% block pageName %}one-service-page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-inherit panel-minimal">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title">Услуга "{{ one_service.main.name }}"</h2>
                    <ul class="panel-tool-options">
                        <a href="{{ links.editService }}{{ one_service.main.id }}" class="btn btn-default" type="button">Редактировать</a>
                        <a href="" class="btn btn-default js-delete-cat-btn" type="button" data-cat-id="{{ one_service.main.id }}">Удалить</a>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Виды работ</h3>
                        </div>
                        {% for item in one_service.subservices %}
                            <div class="col-md-3">
                               <div class="panel panel-primary">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"><a href="{{ links.service }}{{ item.id }}">{{ item.name | capitalize }}</a></h3>
                                        <ul class="panel-tool-options">
                                            <li><a href="{{ links.editService }}{{ item.main.id }}"><i class=" icon-pencil"></i></a></li>
                                            <li><a href="#" class=""><i class=" icon-trash"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- panel body -->
                                    <div class="panel-body">
                                        {% for subserv in  item.subservices %}
                                            <div class="panel-body-row">
                                                <a href="{{ links.subservice }}{{ subserv.id }}">{{ subserv.name | capitalize }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Материалы</h3>
                        </div>
                        {% for item in one_service.materials %}
                            {% for subitem in item %}
                                <div class="col-md-3">
                                   <div class="panel panel-primary">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title"><a href="{{ links.service }}{{ subitem.id }}">{{ subitem.name | capitalize }}</a></h3>
                                            <ul class="panel-tool-options">
                                                <li><a href="{{ links.editService }}{{ subitem.id }}"><i class=" icon-pencil"></i></a></li>
                                                <li><a href="#" class=""><i class=" icon-trash"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- panel body -->
                                        <div class="panel-body">
                                            <a href="{{ item.main.id }}"><img src="{{ subitem.image }}" class="panel-image"></a>
                                            <div class="panel-footer">
                                                <div class="panel-body-row">
                                                    <div class="panel-body-col">Цена за единицу</div>
                                                    <div class="panel-body-col">{{ subitem.price }} ₽</div>
                                                </div>
                                                <div class="panel-body-row">
                                                    <div class="panel-body-col">Единица измерения</div>
                                                    <div class="panel-body-col">{{ subitem.unit }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {# <pre>{{ dump(all_categories) }}</pre> #}
                </div>
            </div>
        </div>
       <pre>{{ dump(one_service) }}</pre>
        <!--Small Modal-->
        <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление категории</h4>
              </div>
              <div class="modal-body">
                <p>Вы действительно хотите удалить категорию?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Нет, я ошибся</button>
                <!-- <form action="" method="get"></form> -->
                <a href="{{ config.formhandlerPath }}delete/category.php?id={{ one_service.main.id }}" type="button" class="btn btn-primary js-modal-confirm-delete">Да, хочу</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--End Small Modal-->
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="{{ config.assetsPath }}js/build/category/main.js"></script>
{% endblock %}