{% extends 'layout/layout.html' %}

{% block pageName %}all-subservice-page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inherit panel-minimal">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title">Виды работ</h2>
                    <ul class="panel-tool-options">
                        <a href="{{ config.adminPath}}/add/subservice" class="btn btn-default" type="button">Создать</a>
                    </ul>
                </div>
                <div class="panel-body masonry-layout js-blocksit-container">
                    {% for item in all_subservices %}
                       <div class="js-blocksit-block masonry-layout__panel">
                            <div class="masonry-layout__panel-content">
                                <div class="panel panel-primary">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"><a href="{{ item.main.id }}">{{ item.main.name | capitalize }}</a></h3>
                                        <ul class="panel-tool-options">
                                            <li><a href="{{ links.editSubService }}{{ item.main.id }}"><i class=" icon-pencil"></i></a></li>
                                            <li><a href="#" class="js-delete-res-btn" data-res-id="{{ item.main.id }}"><i class=" icon-trash"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        {% if  item.materials %}
                                            {% for material in item.materials %}
                                                <div class="panel-body-row">
                                                    <a href="{{ links.material }}{{ material.id }}">{{ material.name | capitalize }}</a>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="panel-empty">
                                                Пусто
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--Small Modal-->
    <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Удаление услуги</h4>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить услугу?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Нет, я ошибся</button>
            <a href="{{ config.formhandlerPath }}delete/service.php?id=" type="button" class="btn btn-primary js-modal-confirm-delete">Да, хочу</a>
          </div>
        </div>
      </div>
    </div>
    <!--End Small Modal-->
     <div class="row">
        <pre>{{ dump(all_subservices) }}</pre>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="{{ config.assetsPath }}js/build/service/main.js"></script>
{% endblock %}