{% extends 'layout/layout.html' %}

{% block pageName %}all-user-page{% endblock %}

{% block pageCss %}
    <link href="{{ config.assetsPath }}theme/css/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-inherit panel-minimal">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title">Заказы</h2>
                    <ul class="panel-tool-options">
                        <li><a href="{{ config.adminPath}}/add/order" class="btn btn-default" type="button">Создать</a></li>
                        <li role="presentation"><a href="" class="btn btn-default toggle-filter" data-block-id="filter-box" type="button"><i class="fa fa-filter"></i></a></li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body ">
                    <div class="table-responsive">
                        <table class="table table-users table-hover">
                            <thead>
                                <tr>
                                    <th class="size-60"></th>
                                    <th class="size-80"></th>
                                    <th>Имя</th>
                                    <th class="text-center">Роль</th>
                                    <th class="text-center">Активен</th>
                                    <th>Последний вход</th>
                                    <th class="size-80" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in all_users %}
                                    <tr>
                                        <td class="size-60"><div class="form-checkbox"><input type="checkbox" name="name1" value=""> <span class="check"><i class="fa fa-check"></i></span></div></td>
                                        <td class="size-80"><img class="avatar img-circle" src="{{ user.main.avatar }}" alt="" title=""></td>
                                        <td><strong>{{ user.main.first_name }} {{ user.main.second_name }} {{ user.main.last_name }}</strong></td>
                                        <td class="text-center">
                                            {% for group in user.group %}
                                                <span class="badge badge-bordered">{{ group.group_name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="text-center">
                                            {% if user.main.active %}
                                                <i class="icon-check icon-larger green-color"></i>
                                            {% else %}
                                                <i class="icon-cancel icon-larger red-color"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ user.main.last_login | date("d M Y - G:i:s") }}</td>
                                        <td class="size-80">
                                            <div class="dropdown">
                                                <a href="#/" data-toggle="dropdown" class="more-link"><i class="icon-dot-3 ellipsis-icon"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="{{ config.adminPath }}/user/lk/{{ user.main.id }}">Подробности</a></li>
                                                    {% if access.a or user.main.id == user_id %}
                                                        <li><a href="{{ config.adminPath }}/edit/user/{{ user.main.id }}">Изменить</a></li>
                                                        <li><a href="" class="js-delete-btn" data-id="{{ user.main.id }}">Удалить</a> </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre>{{ dump() }}</pre>

{% endblock %}

{% block pageScripts %}
     <script src="{{ config.assetsPath }}js/build/order/all-orders/main.js"></script>
{% endblock %}