.center-align {
    text-align: center;
}

.masonry-layout {
  column-count: 4;
  -moz-column-count: 4;
  column-gap: 0;
  -moz-column-gap: 0;

    &__panel {
        break-inside: avoid;
        padding: 5px;


        & .panel {
            margin-bottom: 0;
        }
    }

    &__panel-content {
        padding: 10px;
        border-radius: 10px;
    }
}