<div class="panel panel-default">
    <div class="panel-body">
    {#<pre>{{ dump() }}</pre>#}
        <div class="preview">
            <div class="preview__header">
                <div class="preview__header__col">
                    <div class="preview__company-name">{{ settings.company_name.value }}</div>
                    <div class="preview__ip">{{ settings.ip.value }}</div>
                    <div class="preview__ur-info">
                        {% if settings.inn.value != '' %}
                            <span>ИНН {{ settings.inn.value }}</span>
                        {% endif %}
                        {% if settings.okpo.value != '' %}
                            <span>ОКПО 0175085693</span>
                        {% endif %}
                        {% if settings.ogrip.value != '' %}
                            <span>ОГРИП {{ settings.ogrip.value }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="preview__header__col">
                    <div class="preview__phone">тел. {{ settings.compnay_phone.value }}</div>
                </div>
            </div>
            <div class="preview__body">
                <div class="preview__order-num">Заказ № {{ preview.order_num }}</div>
                <div class="preview__date-create">от "{{ preview.date_create.d }}" {{ preview.date_create.m }} {{ preview.date_create.y }}г</div>
                <div class="preview__block preview__block_border-top">
                    <div class="preview__subtitle">Заказчик</div>
                    <div class="preview__row">
                        <div class="preview__row__col">ФИО</div>
                        <div class="preview__row__col">
                            <span class="preview__text">{{ preview.client[0].first_name }} {{ preview.client[0].second_name }} {{ preview.client[0].last_name }}</span>
                        </div>
                    </div>
                    <div class="preview__row">
                        <div class="preview__row__col">Телефон</div>
                        <div class="preview__row__col">
                            <span class="preview__text">{{ preview.client[0].phone }}</span>
                        </div>
                    </div>
                </div>
                <div class="preview__block">
                    <div class="preview__subtitle">Информация об объекте</div>
                    {% if  preview.object_info.type %}
                        <div class="preview__row">
                            <div class="preview__row__col">Тип помещения</div>
                            <div class="preview__row__col">
                                <span class="preview__text">{{ preview.object_info.type }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="preview__row">
                        <div class="preview__row__col">Площадь</div>
                        <div class="preview__row__col">
                            <span class="preview__text">{{ preview.object_info.square }} м<sup>2</sup></span>
                        </div>
                    </div>
                    <div class="preview__row">
                        <div class="preview__row__col">Адрес</div>
                        <div class="preview__row__col">
                            <span class="preview__text">{{ preview.object_info.adress }}</span>
                        </div>
                    </div>
                </div>
                <div class="preview__block preview__block_no-border">
                    <div class="preview__subtitle">Услуги и материалы</div>
                    <div class="preview__block preview__block_no-border">
                        <div class="preview__smalltitle">Услуги</div>
                        <table class="preview__table preview__table_work">
                            <tr class="preview__table__tr">
                                <th class="preview__table__th">Наименование услуги</th>
                                <th class="preview__table__th">Цена за м<sup>2</sup> руб.</th>
                                <th class="preview__table__th">Сумма</th>
                            </tr>
                            {% for service in preview.resourses.services.all %}
                                <tr class="preview__table__tr">
                                    <td class="preview__table__td preview__table__td_60">{{ service.name }}</td>
                                    <td class="preview__table__td preview__table__td_30 center-align">{{ service.price_for_one }}</td>
                                    <td class="preview__table__td preview__table__td_30 center-align">{{ service.price_total }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td class="preview__table__td center-align">Итого</td>
                                <td class="preview__table__td center-align"><strong>{{ preview.resourses.services.price_total }}</strong></td>
                            </tr>
                        </table>
                    </div>
                    <div class="preview__block preview__block_no-border">
                        <div class="preview__smalltitle">Материалы</div>
                        <table class="preview__table preview__table_work">
                            <tr class="preview__table__tr">
                                <th class="preview__table__th">Наименование материала</th>
                                <th class="preview__table__th">Цена за единицу</th>
                                <th class="preview__table__th">Количество</th>
                                <th class="preview__table__th">Сумма</th>
                            </tr>
                            {% for material in preview.resourses.materials.all %}
                                <tr class="preview__table__tr">
                                    <td class="preview__table__td">{{ material.name }}</td>
                                    <td class="preview__table__td center-align">{{ material.price_for_one }}</td>
                                    <td class="preview__table__td center-align">{{ material.count_total }}</td>
                                    <td class="preview__table__td center-align">{{ material.price_total }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="preview__table__td center-align">Итого</td>
                                <td class="preview__table__td center-align"><strong>{{  preview.resourses.materials.price_total }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>